# Milestone 2 - Data Collection and description

### Imports

In [2]:
import pandas as pd

### Loading

Reference of dataset : http://www.fao.org/faostat/en/#data

We choose to work with two tables : 
- Crops (from production) 
- Crops and livestock products (from trades)

In [36]:
## 
Raw_Crops = pd.read_csv('data/Production_Crops_E_All_Data.csv',encoding = "ISO-8859-1")

In [51]:
Raw_Crops

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1975,1975,ha,0.0,F
1,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1976,1976,ha,5900.0,F
2,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1977,1977,ha,6000.0,F
3,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1978,1978,ha,6000.0,F
4,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1979,1979,ha,6000.0,F
...,...,...,...,...,...,...,...,...,...,...,...
2425270,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2013,2013,tonnes,75758492.0,A
2425271,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2014,2014,tonnes,79438288.0,A
2425272,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2015,2015,tonnes,82296572.0,A
2425273,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2016,2016,tonnes,81965547.0,A
2425274,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2017,2017,tonnes,82495501.0,A

In [67]:
crops_items = Raw_Crops.Item.unique()

In [68]:
len(crops_items)

180

In [63]:
##
Raw_Trade = pd.read_csv('data/Trade_Crops_Livestock_E_All_Data.csv',encoding = "ISO-8859-1")

In [64]:
Raw_Trade

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,231,Almonds shelled,5610,Import Quantity,2014,2014,tonnes,167.0,R
1,2,Afghanistan,231,Almonds shelled,5610,Import Quantity,2015,2015,tonnes,181.0,R
2,2,Afghanistan,231,Almonds shelled,5610,Import Quantity,2016,2016,tonnes,845.0,R
3,2,Afghanistan,231,Almonds shelled,5622,Import Value,2014,2014,1000 US$,1116.0,R
4,2,Afghanistan,231,Almonds shelled,5622,Import Value,2015,2015,1000 US$,1377.0,R
...,...,...,...,...,...,...,...,...,...,...,...
15386172,5817,Net Food Importing Developing Countries,10,Total Merchandise Trade,5922,Export Value,2012,2012,1000 US$,547863315.0,A
15386173,5817,Net Food Importing Developing Countries,10,Total Merchandise Trade,5922,Export Value,2013,2013,1000 US$,549733311.0,A
15386174,5817,Net Food Importing Developing Countries,10,Total Merchandise Trade,5922,Export Value,2014,2014,1000 US$,517324423.0,A
15386175,5817,Net Food Importing Developing Countries,10,Total Merchandise Trade,5922,Export Value,2015,2015,1000 US$,402343217.0,A
15386176,5817,Net Food Importing Developing Countries,10,Total Merchandise Trade,5922,Export Value,2016,2016,1000 US$,388536801.0,A

In [66]:
Raw_Trade.Item.unique()

array(['Almonds shelled', 'Anise, badian, fennel, coriander', 'Apples',
       'Apricots', 'Apricots, dry', 'Artichokes', 'Asparagus', 'Avocados',
       'Bacon and ham', 'Bananas', 'Barley', 'Beans, dry', 'Beans, green',
       'Beer of barley', 'Beeswax', 'Beet pulp',
       'Beverages, distilled alcoholic', 'Beverages, non alcoholic',
       'Bran, maize', 'Bran, sorghum', 'Bran, wheat',
       'Brazil nuts, shelled', 'Bread', 'Broad beans, horse beans, dry',
       'Buckwheat', 'Butter, cow milk',
       'Buttermilk, curdled, acidified milk',
       'Cabbages and other brassicas', 'Cake, copra', 'Cake, cottonseed',
       'Cake, groundnuts', 'Cake, linseed', 'Cake, rapeseed',
       'Cake, soybeans', 'Cake, sunflower', 'Carrots and turnips',
       'Cashew nuts, shelled', 'Cashew nuts, with shell', 'Cassava dried',
       'Cauliflowers and broccoli', 'Cereal preparations, nes',
       'Cereals, breakfast', 'Cheese, processed',
       'Cheese, whole cow milk', 'Cherries', 'Cherries, sour', 'Chestnut',
       'Chick peas', 'Chillies and peppers, dry',
       'Chillies and peppers, green', 'Chocolate products nes',
       'Cider etc', 'Cigarettes', 'Cigars, cheroots',
       'Cinnamon (canella)', 'Cloves', 'Cocoa, beans', 'Cocoa, butter',
       'Cocoa, powder & cake', 'Coconuts', 'Coconuts, desiccated',
       'Cocoons, unreelable & waste', 'Coffee, extracts', 'Coffee, green',
       'Coffee, husks and skins', 'Coffee, roasted',
       'Coffee, substitutes containing coffee', 'Copra', 'Cotton lint',
       'Cotton waste', 'Cotton, carded, combed', 'Cottonseed',
       'Cream fresh', 'Crude materials', 'Cucumbers and gherkins',
       'Dates', 'Eggplants (aubergines)', 'Eggs, dried',
       'Eggs, hen, in shell', 'Eggs, liquid',
       'Eggs, other bird, in shell', 'Fat, cattle',
       'Fat, liver prepared (foie gras)', 'Fat, nes, prepared',
       'Fatty acids', 'Fatty substance residues', 'Feed, compound, nes',
       'Feed, vegetable products nes', 'Figs', 'Figs dried',
       'Flax fibre and tow', 'Flour, cereals', 'Flour, maize',
       'Flour, mixed grain', 'Flour, mustard', 'Flour, potatoes',
       'Flour, pulses', 'Flour, roots and tubers nes', 'Flour, wheat',
       'Food prep nes', 'Food preparations, flour, malt extract',
       'Food wastes', 'Forage products', 'Fructose and syrup, other',
       'Fruit, cooked, homogenized preparations', 'Fruit, dried nes',
       'Fruit, fresh nes', 'Fruit, prepared nes', 'Garlic', 'Ginger',
       'Glucose and dextrose', 'Grapefruit (inc. pomelos)', 'Grapes',
       'Grease incl. lanolin wool', 'Groundnuts, shelled', 'Hair, fine',
       'Hazelnuts, shelled', 'Hides, cattle, wet salted', 'Hides, nes',
       'Honey, natural', 'Ice cream and edible ice', 'Infant food',
       'Juice, citrus, concentrated', 'Juice, citrus, single strength',
       'Juice, fruit nes', 'Juice, grape', 'Juice, grapefruit',
       'Juice, grapefruit, concentrated', 'Juice, orange, concentrated',
       'Juice, orange, single strength', 'Juice, pineapple',
       'Juice, pineapple, concentrated', 'Juice, tomato', 'Jute',
       'Kiwi fruit', 'Lactose', 'Lard',
       'Leeks, other alliaceous vegetables', 'Lemons and limes',
       'Lentils', 'Lettuce and chicory', 'Linseed', 'Macaroni', 'Maize',
       'Maize, green', 'Malt', 'Mangoes, mangosteens, guavas',
       'Maple sugar and syrups', 'Margarine, liquid', 'Margarine, short',
       'MatÃ©', 'Meal, meat', 'Meat, beef and veal sausages',
       'Meat, beef, preparations', 'Meat, cattle',
       'Meat, cattle, boneless (beef & veal)', 'Meat, chicken',
       'Meat, chicken, canned', 'Meat, dried nes', 'Meat, duck',
       'Meat, game', 'Meat, goat', 'Meat, goose and guinea fowl',
       'Meat, nes', 'Meat, pig', 'Meat, pig sausages',
       'Meat, pig, preparations', 'Meat, pork', 'Meat, rabbit',
       'Meat, sheep', 'Meat, turkey', 'Melons, other (inc.cantaloupes)',
       'Milk, products of natural constituents nes', 'Milk, skimmed cow',
       'Milk, skimmed dried', 'Milk, whole condensed',
       'Milk, whole dried', 'Milk, whole evaporated',
       'Milk, whole fresh cow', 'Millet', 'Mixes and doughs', 'Molasses',
       'Mushrooms and truffles', 'Mushrooms, canned', 'Mustard seed',
       'Nutmeg, mace and cardamoms', 'Nuts, nes',
       'Nuts, prepared (exc. groundnuts)', 'Oats', 'Oats rolled',
       'Offals, edible, cattle', 'Offals, liver chicken',
       'Offals, pigs, edible', 'Offals, sheep,edible', 'Oil, boiled etc',
       'Oil, castor beans', 'Oil, citronella', 'Oil, coconut (copra)',
       'Oil, cottonseed', 'Oil, essential nes', 'Oil, groundnut',
       'Oil, linseed', 'Oil, maize', 'Oil, olive residues',
       'Oil, olive, virgin', 'Oil, palm', 'Oil, palm kernel',
       'Oil, rapeseed', 'Oil, sesame', 'Oil, soybean', 'Oil, sunflower',
       'Oil, vegetable origin nes', 'Oils, fats of animal nes',
       'Oilseeds nes', 'Olives', 'Olives preserved', 'Onions, dry',
       'Onions, shallots, green', 'Oranges', 'Papayas', 'Pastry',
       'Peaches and nectarines', 'Peanut butter', 'Pears', 'Peas, dry',
       'Peas, green', 'Pepper (piper spp.)', 'Persimmons', 'Pet food',
       'Pineapples', 'Pineapples canned', 'Pistachios',
       'Plantains and others', 'Plums and sloes', 'Plums dried (prunes)',
       'Poppy seed', 'Potatoes', 'Potatoes, frozen',
       'Pumpkins, squash and gourds', 'Pyrethrum, dried', 'Raisins',
       'Rapeseed', 'Rice - total  (Rice milled equivalent)',
       'Roots and tubers, nes', 'Rubber natural dry', 'Rubber, natural',
       'Rye', 'Sesame seed', 'Silk raw', 'Silk-worm cocoons, reelable',
       'Skins, calve, wet salted', 'Skins, sheep, dry salted',
       'Skins, sheep, with wool', 'Sorghum', 'Soya sauce', 'Soybeans',
       'Spices, nes', 'Spinach', 'Straw husks', 'Strawberries',
       'Sugar beet', 'Sugar confectionery', 'Sugar Raw Centrifugal',
       'Sugar refined', 'Sugar, nes', 'Sunflower seed',
       'Sweet corn frozen', 'Sweet corn prep or preserved',
       'Sweet potatoes', 'Tallow',
       'Tangerines, mandarins, clementines, satsumas', 'Tea',
       'Tea, mate extracts', 'Tobacco products nes',
       'Tobacco, unmanufactured', 'Tomatoes', 'Tomatoes, paste',
       'Tomatoes, peeled', 'Vanilla', 'Vegetables in vinegar',
       'Vegetables, dehydrated', 'Vegetables, fresh nes',
       'Vegetables, fresh or dried products nes', 'Vegetables, frozen',
       'Vegetables, homogenized preparations',
       'Vegetables, preserved nes', 'Vegetables, preserved, frozen',
       'Vegetables, temporarily preserved', 'Vermouths & similar',
       'Wafers', 'Walnuts, shelled', 'Walnuts, with shell', 'Watermelons',
       'Waters,ice etc', 'Wheat', 'Whey, dry', 'Wine', 'Wool, degreased',
       'Wool, greasy', 'Wool, hair waste', 'Yoghurt, concentrated or not',
       'Agricult.Products,Total', 'Animal fats', 'Animal Oil+Fat+Grs',
       'Animal Vegetable Oil', 'Bananas and plantains', 'Beer',
       'Beverages', 'Beverages+Tobacco', 'Bovine Meat', 'Butter',
       'Canned Meat nes', 'Cassava Equivalent', 'Cereals',
       'Cereals and Preparations', 'Cheese and Curd',
       'Coffee Green+Roast', 'Coffee+Tea+Cocoa+Sp',
       'Crude Materials -Ex2', 'Crude Materials nes',
       'Dairy Products+Eggs', 'Eggs in The Shell', 'Eggs Liquid,Dried',
       'Fixed Vegetable Oils', 'Flax Fib+Tow+W', 'Fodder & Feeding stuff',
       'Food and Animals', 'Food Excl Fish', 'Fruit and Vegetables',
       'Groundnuts Total Shelled', 'Jute+Bast Fibres',
       'Meat and Meat Preparations', 'Meat Bovine Fresh',
       'Meat Fresh+Ch+Frozen', 'Meat of Swine', 'Meat Poultry Fresh',
       'Meat Prepared Pres', 'Meat Sheep Fresh',
       'Milk Condensed + Evaporated', 'Milk Condensed+Dry+Fresh',
       'Milk Dry', 'Milk Equivalent', 'Milk Fresh', 'Miscellaneous Food',
       'Natural Rubber', 'Offals Edibl Fresh', 'Oilseed Cake Meal',
       'Oilseed Cake nes', 'Oilseeds', 'Olive Oil,Total', 'Onions',
       'Oranges+Tang+Clem', 'Oth Citrus Frt', 'Other Meat', 'Ovine Meat',
       'Pigmeat', 'Poultry Meat', 'Pulses', 'Rape+Mustard Oils',
       'Rape+Mustard Seed', 'Rice', 'Silk', 'Sugar and Honey',
       'Sugar,Total (Raw Equiv.)', 'Textile Fibres', 'Tobacco',
       'Total Meat', 'Wheat+Flour,Wheat Equivalent', 'Whey, Pres+Concen',
       'Wine+Vermouth+Sim.', 'Total Merchandise Trade',
       'Alfalfa meal and pellets', 'Barley, pearled', 'Blueberries',
       'Cake, maize', 'Cake, palm kernel', 'Canary seed', 'Cocoa, paste',
       'Cotton linter', 'Cranberries', 'Currants',
       'Dregs from brewing, distillation', 'Fat, pigs',
       'Feed and meal, gluten', 'Flax fibre raw', 'Flax tow waste',
       'Fruit, tropical fresh nes', 'Germ, maize', 'Gooseberries',
       'Grain, mixed', 'Hops', 'Juice, lemon, concentrated', 'Kola nuts',
       'Meat, horse', 'Offals, liver duck', 'Oil, safflower',
       'Pyrethrum, extraction', 'Quinces', 'Skins, goat, wet salted',
       'Skins, sheep, wet salted', 'Starch, cassava', 'Triticale',
       'Waxes vegetable', 'Cake, sesame seed', 'Feed minerals',
       'Feed supplements', 'Sugar crops, nes', 'Cake, rice bran',
       'Bambara beans', 'Cassava', 'Offals, liver geese',
       'Offals, edible, goats', 'Whey, condensed', 'Hay (unspecified)',
       'Hides, horse, dry salted', 'Manila fibre (abaca)', 'Peppermint',
       'Butter of karite nuts', 'Cheese, sheep milk',
       'Milk, whole fresh sheep', 'Fat, camels', 'Bulgur', 'Fonio',
       'Forage and silage, grasses nes', 'Hay (clover, lucerne,etc)',
       'Bran, millet', 'Feed, pulp of fruit', 'Vetches',
       'Beverages, fermented rice', 'Cake, mustard',
       'Hides, buffalo, dry salted', 'Meat, ass', 'Oil, rice bran',
       'Beer of sorghum', 'Bran, buckwheat', 'Bran, fonio',
       'Cake, hempseed', 'Cake, kapok', 'Cake, safflower', 'Cane tops',
       'Cashewapple', 'Flour, fonio', 'Forage and silage, clover',
       'Forage and silage, legumes', 'Ghee, of buffalo milk',
       'Hair, goat, coarse', 'Hides, buffalo, wet salted',
       'Hides, camel, nes', 'Hides, camel, wet salted',
       'Juice, plum, concentrated', 'Juice, plum, single strength',
       'Kapok fibre', 'Kapokseed in shell', 'Kapokseed shelled',
       'Milk, reconstituted', 'Offals, other camelids', 'Oil, kapok',
       'Oil, poppy', 'Potato offals', 'Soya curd', 'Soya paste',
       'Sugar non-centrifugal', 'Turnips for fodder', 'Vegetable tallow',
       'Vitamins', 'Hides, cattle, fresh', 'Vegetables, dried nes',
       'Skins, sheep, fresh', 'Popcorn', 'Vegetables, canned nes',
       'Hides and skins nes, fresh'], dtype=object)

In [65]:
len(Raw_Trade.Item.unique())

471

In [69]:
#Remove items not in crops
traded_crops = Raw_Trade.loc[Raw_Trade['Item'].isin(crops_items)]

In [70]:
len(traded_crops.Item.unique())

121

In [72]:
traded_crops.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
118,2,Afghanistan,711,"Anise, badian, fennel, coriander",5610,Import Quantity,2014,2014,tonnes,284.0,R
119,2,Afghanistan,711,"Anise, badian, fennel, coriander",5610,Import Quantity,2015,2015,tonnes,1000.0,R
120,2,Afghanistan,711,"Anise, badian, fennel, coriander",5610,Import Quantity,2016,2016,tonnes,815.0,R
121,2,Afghanistan,711,"Anise, badian, fennel, coriander",5622,Import Value,2014,2014,1000 US$,599.0,R
122,2,Afghanistan,711,"Anise, badian, fennel, coriander",5622,Import Value,2015,2015,1000 US$,2041.0,R

**Raw Trade 2017**

In [7]:
Raw_Trade_2017 = pd.read_csv('data/FAOSTAT_data_11-17-2019.csv')

In [61]:
len(Raw_Trade_2017.Item.unique())

372

In [74]:
traded_crops_2017 = Raw_Trade_2017.loc[Raw_Trade_2017['Item'].isin(crops_items)]

In [76]:
len(traded_crops_2017.Item.unique())

118

In [77]:
traded_crops_2017_2 = Raw_Trade_2017.loc[Raw_Trade_2017['Item'].isin(traded_crops.Item.unique())]

In [78]:
len(traded_crops_2017_2.Item.unique())

111

In [81]:
set(traded_crops_2017.Item.unique())-set(traded_crops_2017_2.Item.unique())

{'Almonds, with shell',
 'Areca nuts',
 'Coir',
 'Fibre crops nes',
 'Hazelnuts, with shell',
 'Karite nuts (sheanuts)',
 'Quinoa'}

In [82]:
set(traded_crops_2017_2.Item.unique())-set(traded_crops_2017.Item.unique())

set()

**Concat**

In [59]:
pd.concat([Raw_Trade,Raw_Trade_2017],axis=0,ignore_index=True)

C:\Users\nilso\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Area,Area Code,Domain,Domain Code,Element,Element Code,Flag,Flag Description,Item,Item Code,Unit,Value,Year,Year Code
0,Afghanistan,2,NaN,NaN,Import Quantity,5610,R,NaN,Almonds shelled,231,tonnes,167.0,2014,2014
1,Afghanistan,2,NaN,NaN,Import Quantity,5610,R,NaN,Almonds shelled,231,tonnes,181.0,2015,2015
2,Afghanistan,2,NaN,NaN,Import Quantity,5610,R,NaN,Almonds shelled,231,tonnes,845.0,2016,2016
3,Afghanistan,2,NaN,NaN,Import Value,5622,R,NaN,Almonds shelled,231,1000 US$,1116.0,2014,2014
4,Afghanistan,2,NaN,NaN,Import Value,5622,R,NaN,Almonds shelled,231,1000 US$,1377.0,2015,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15561330,Zimbabwe,181,Crops and livestock products,TP,Import Value,5622,NaN,Official data,"Wool, degreased",988,1000 US$,2.0,2017,2017
15561331,Zimbabwe,181,Crops and livestock products,TP,Import Quantity,5610,NaN,Official data,"Wool, greasy",987,tonnes,1.0,2017,2017
15561332,Zimbabwe,181,Crops and livestock products,TP,Import Value,5622,NaN,Official data,"Wool, greasy",987,1000 US$,2.0,2017,2017
15561333,Zimbabwe,181,Crops and livestock products,TP,Export Quantity,5910,NaN,Official data,"Yoghurt, concentrated or not",892,tonnes,2.0,2017,2017
15561334,Zimbabwe,181,Crops and livestock products,TP,Export Value,5922,NaN,Official data,"Yoghurt, concentrated or not",892,1000 US$,3.0,2017,2017

TODO : 

- Check that we don't have teo times the same lines for one food, for example estimated values and official values 
- Check nan

In [57]:
df_Avocados = Raw_Crops[Raw_Crops.Item == 'Avocados']
df_Avocados

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
48007,9,Argentina,572,Avocados,5312,Area harvested,1961,1961,ha,NaN,M
48008,9,Argentina,572,Avocados,5312,Area harvested,1962,1962,ha,NaN,M
48009,9,Argentina,572,Avocados,5312,Area harvested,1963,1963,ha,NaN,M
48010,9,Argentina,572,Avocados,5312,Area harvested,1964,1964,ha,NaN,M
48011,9,Argentina,572,Avocados,5312,Area harvested,1965,1965,ha,NaN,M
...,...,...,...,...,...,...,...,...,...,...,...
2399702,5817,Net Food Importing Developing Countries,572,Avocados,5510,Production,2013,2013,tonnes,1367948.0,A
2399703,5817,Net Food Importing Developing Countries,572,Avocados,5510,Production,2014,2014,tonnes,1660381.0,A
2399704,5817,Net Food Importing Developing Countries,572,Avocados,5510,Production,2015,2015,tonnes,1641125.0,A
2399705,5817,Net Food Importing Developing Countries,572,Avocados,5510,Production,2016,2016,tonnes,1842254.0,A
2399706,5817,Net Food Importing Developing Countries,572,Avocados,5510,Production,2017,2017,tonnes,1931735.0,A

In [58]:
df_Avocados_production = df_Avocados[df_Avocados.Element == 'Production']
df_Avocados_production
#df_Avocados_production[df_Avocados_production.Area == 'Peru']

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
48097,9,Argentina,572,Avocados,5510,Production,1961,1961,tonnes,2000.0,NaN
48098,9,Argentina,572,Avocados,5510,Production,1962,1962,tonnes,3000.0,NaN
48099,9,Argentina,572,Avocados,5510,Production,1963,1963,tonnes,2900.0,NaN
48100,9,Argentina,572,Avocados,5510,Production,1964,1964,tonnes,3030.0,NaN
48101,9,Argentina,572,Avocados,5510,Production,1965,1965,tonnes,3520.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2399702,5817,Net Food Importing Developing Countries,572,Avocados,5510,Production,2013,2013,tonnes,1367948.0,A
2399703,5817,Net Food Importing Developing Countries,572,Avocados,5510,Production,2014,2014,tonnes,1660381.0,A
2399704,5817,Net Food Importing Developing Countries,572,Avocados,5510,Production,2015,2015,tonnes,1641125.0,A
2399705,5817,Net Food Importing Developing Countries,572,Avocados,5510,Production,2016,2016,tonnes,1842254.0,A
2399706,5817,Net Food Importing Developing Countries,572,Avocados,5510,Production,2017,2017,tonnes,1931735.0,A

In [27]:
#Null values cleaning, elements that are the most and the least imported
Raw_Crops.drop('Flag',axis=1).isnull().sum()

Area Code            0
Area                 0
Item Code            0
Item                 0
Element Code         0
Element              0
Year Code            0
Year                 0
Unit                 0
Value           138592
dtype: int64

In [46]:
sum(Raw_Crops[Raw_Crops.drop('Flag',axis=1).Value.isnull()].Element =='Production')

61665

In [50]:
sum(Raw_Crops[Raw_Crops.drop('Flag',axis=1).Value.isnull()].Element =='Area harvested')

76927

### Data exploration and cleaning

- Value format (flota instead of int)
- Null values

### Statistics on the data

- Format
- Distribution
- Missing values

### Our plan

- update of plan based on above data acquaintance
- discuss how your data suits your project needs
- discuss the methods youâ€™re going to use, giving their essential mathematical details in the notebook

### Conclusion

- show our plan for analysis and communication is now reasonable and sound
- discussing alternatives to our choice and say alternatives that we considered but dropped