# Data Loading with new datasets

In [2]:
import pandas as pd

In [15]:
df_crops = pd.read_csv('data/Production_Crops_E_All_Data.csv',encoding = "ISO-8859-1")

In [16]:
df_crops

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1975,1975,ha,0.0,F
1,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1976,1976,ha,5900.0,F
2,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1977,1977,ha,6000.0,F
3,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1978,1978,ha,6000.0,F
4,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1979,1979,ha,6000.0,F
...,...,...,...,...,...,...,...,...,...,...,...
2425270,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2013,2013,tonnes,75758492.0,A
2425271,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2014,2014,tonnes,79438288.0,A
2425272,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2015,2015,tonnes,82296572.0,A
2425273,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2016,2016,tonnes,81965547.0,A
2425274,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,2017,2017,tonnes,82495501.0,A

In [17]:
df_trade = pd.read_csv('data/Trade_Crops_Livestock_E_All_Data.csv',encoding = "ISO-8859-1")

In [32]:
df_trade.isnull()

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
15386172,False,False,False,False,False,False,False,False,False,False,False
15386173,False,False,False,False,False,False,False,False,False,False,False
15386174,False,False,False,False,False,False,False,False,False,False,False
15386175,False,False,False,False,False,False,False,False,False,False,False
15386176,False,False,False,False,False,False,False,False,False,False,False

In [20]:
df_trade.Item.unique()

array(['Almonds shelled', 'Anise, badian, fennel, coriander', 'Apples',
       'Apricots', 'Apricots, dry', 'Artichokes', 'Asparagus', 'Avocados',
       'Bacon and ham', 'Bananas', 'Barley', 'Beans, dry', 'Beans, green',
       'Beer of barley', 'Beeswax', 'Beet pulp',
       'Beverages, distilled alcoholic', 'Beverages, non alcoholic',
       'Bran, maize', 'Bran, sorghum', 'Bran, wheat',
       'Brazil nuts, shelled', 'Bread', 'Broad beans, horse beans, dry',
       'Buckwheat', 'Butter, cow milk',
       'Buttermilk, curdled, acidified milk',
       'Cabbages and other brassicas', 'Cake, copra', 'Cake, cottonseed',
       'Cake, groundnuts', 'Cake, linseed', 'Cake, rapeseed',
       'Cake, soybeans', 'Cake, sunflower', 'Carrots and turnips',
       'Cashew nuts, shelled', 'Cashew nuts, with shell', 'Cassava dried',
       'Cauliflowers and broccoli', 'Cereal preparations, nes',
       'Cereals, breakfast', 'Cheese, processed',
       'Cheese, whole cow milk', 'Cherries', 'Cherries, sour', 'Chestnut',
       'Chick peas', 'Chillies and peppers, dry',
       'Chillies and peppers, green', 'Chocolate products nes',
       'Cider etc', 'Cigarettes', 'Cigars, cheroots',
       'Cinnamon (canella)', 'Cloves', 'Cocoa, beans', 'Cocoa, butter',
       'Cocoa, powder & cake', 'Coconuts', 'Coconuts, desiccated',
       'Cocoons, unreelable & waste', 'Coffee, extracts', 'Coffee, green',
       'Coffee, husks and skins', 'Coffee, roasted',
       'Coffee, substitutes containing coffee', 'Copra', 'Cotton lint',
       'Cotton waste', 'Cotton, carded, combed', 'Cottonseed',
       'Cream fresh', 'Crude materials', 'Cucumbers and gherkins',
       'Dates', 'Eggplants (aubergines)', 'Eggs, dried',
       'Eggs, hen, in shell', 'Eggs, liquid',
       'Eggs, other bird, in shell', 'Fat, cattle',
       'Fat, liver prepared (foie gras)', 'Fat, nes, prepared',
       'Fatty acids', 'Fatty substance residues', 'Feed, compound, nes',
       'Feed, vegetable products nes', 'Figs', 'Figs dried',
       'Flax fibre and tow', 'Flour, cereals', 'Flour, maize',
       'Flour, mixed grain', 'Flour, mustard', 'Flour, potatoes',
       'Flour, pulses', 'Flour, roots and tubers nes', 'Flour, wheat',
       'Food prep nes', 'Food preparations, flour, malt extract',
       'Food wastes', 'Forage products', 'Fructose and syrup, other',
       'Fruit, cooked, homogenized preparations', 'Fruit, dried nes',
       'Fruit, fresh nes', 'Fruit, prepared nes', 'Garlic', 'Ginger',
       'Glucose and dextrose', 'Grapefruit (inc. pomelos)', 'Grapes',
       'Grease incl. lanolin wool', 'Groundnuts, shelled', 'Hair, fine',
       'Hazelnuts, shelled', 'Hides, cattle, wet salted', 'Hides, nes',
       'Honey, natural', 'Ice cream and edible ice', 'Infant food',
       'Juice, citrus, concentrated', 'Juice, citrus, single strength',
       'Juice, fruit nes', 'Juice, grape', 'Juice, grapefruit',
       'Juice, grapefruit, concentrated', 'Juice, orange, concentrated',
       'Juice, orange, single strength', 'Juice, pineapple',
       'Juice, pineapple, concentrated', 'Juice, tomato', 'Jute',
       'Kiwi fruit', 'Lactose', 'Lard',
       'Leeks, other alliaceous vegetables', 'Lemons and limes',
       'Lentils', 'Lettuce and chicory', 'Linseed', 'Macaroni', 'Maize',
       'Maize, green', 'Malt', 'Mangoes, mangosteens, guavas',
       'Maple sugar and syrups', 'Margarine, liquid', 'Margarine, short',
       'MatÃ©', 'Meal, meat', 'Meat, beef and veal sausages',
       'Meat, beef, preparations', 'Meat, cattle',
       'Meat, cattle, boneless (beef & veal)', 'Meat, chicken',
       'Meat, chicken, canned', 'Meat, dried nes', 'Meat, duck',
       'Meat, game', 'Meat, goat', 'Meat, goose and guinea fowl',
       'Meat, nes', 'Meat, pig', 'Meat, pig sausages',
       'Meat, pig, preparations', 'Meat, pork', 'Meat, rabbit',
       'Meat, sheep', 'Meat, turkey', 'Melons, other (inc.cantaloupes)',
       'Milk, products of natural constituents nes', 'Milk, skimmed cow',
       'Milk, skimmed dried', 'Milk, whole condensed',
       'Milk, whole dried', 'Milk, whole evaporated',
       'Milk, whole fresh cow', 'Millet', 'Mixes and doughs', 'Molasses',
       'Mushrooms and truffles', 'Mushrooms, canned', 'Mustard seed',
       'Nutmeg, mace and cardamoms', 'Nuts, nes',
       'Nuts, prepared (exc. groundnuts)', 'Oats', 'Oats rolled',
       'Offals, edible, cattle', 'Offals, liver chicken',
       'Offals, pigs, edible', 'Offals, sheep,edible', 'Oil, boiled etc',
       'Oil, castor beans', 'Oil, citronella', 'Oil, coconut (copra)',
       'Oil, cottonseed', 'Oil, essential nes', 'Oil, groundnut',
       'Oil, linseed', 'Oil, maize', 'Oil, olive residues',
       'Oil, olive, virgin', 'Oil, palm', 'Oil, palm kernel',
       'Oil, rapeseed', 'Oil, sesame', 'Oil, soybean', 'Oil, sunflower',
       'Oil, vegetable origin nes', 'Oils, fats of animal nes',
       'Oilseeds nes', 'Olives', 'Olives preserved', 'Onions, dry',
       'Onions, shallots, green', 'Oranges', 'Papayas', 'Pastry',
       'Peaches and nectarines', 'Peanut butter', 'Pears', 'Peas, dry',
       'Peas, green', 'Pepper (piper spp.)', 'Persimmons', 'Pet food',
       'Pineapples', 'Pineapples canned', 'Pistachios',
       'Plantains and others', 'Plums and sloes', 'Plums dried (prunes)',
       'Poppy seed', 'Potatoes', 'Potatoes, frozen',
       'Pumpkins, squash and gourds', 'Pyrethrum, dried', 'Raisins',
       'Rapeseed', 'Rice - total  (Rice milled equivalent)',
       'Roots and tubers, nes', 'Rubber natural dry', 'Rubber, natural',
       'Rye', 'Sesame seed', 'Silk raw', 'Silk-worm cocoons, reelable',
       'Skins, calve, wet salted', 'Skins, sheep, dry salted',
       'Skins, sheep, with wool', 'Sorghum', 'Soya sauce', 'Soybeans',
       'Spices, nes', 'Spinach', 'Straw husks', 'Strawberries',
       'Sugar beet', 'Sugar confectionery', 'Sugar Raw Centrifugal',
       'Sugar refined', 'Sugar, nes', 'Sunflower seed',
       'Sweet corn frozen', 'Sweet corn prep or preserved',
       'Sweet potatoes', 'Tallow',
       'Tangerines, mandarins, clementines, satsumas', 'Tea',
       'Tea, mate extracts', 'Tobacco products nes',
       'Tobacco, unmanufactured', 'Tomatoes', 'Tomatoes, paste',
       'Tomatoes, peeled', 'Vanilla', 'Vegetables in vinegar',
       'Vegetables, dehydrated', 'Vegetables, fresh nes',
       'Vegetables, fresh or dried products nes', 'Vegetables, frozen',
       'Vegetables, homogenized preparations',
       'Vegetables, preserved nes', 'Vegetables, preserved, frozen',
       'Vegetables, temporarily preserved', 'Vermouths & similar',
       'Wafers', 'Walnuts, shelled', 'Walnuts, with shell', 'Watermelons',
       'Waters,ice etc', 'Wheat', 'Whey, dry', 'Wine', 'Wool, degreased',
       'Wool, greasy', 'Wool, hair waste', 'Yoghurt, concentrated or not',
       'Agricult.Products,Total', 'Animal fats', 'Animal Oil+Fat+Grs',
       'Animal Vegetable Oil', 'Bananas and plantains', 'Beer',
       'Beverages', 'Beverages+Tobacco', 'Bovine Meat', 'Butter',
       'Canned Meat nes', 'Cassava Equivalent', 'Cereals',
       'Cereals and Preparations', 'Cheese and Curd',
       'Coffee Green+Roast', 'Coffee+Tea+Cocoa+Sp',
       'Crude Materials -Ex2', 'Crude Materials nes',
       'Dairy Products+Eggs', 'Eggs in The Shell', 'Eggs Liquid,Dried',
       'Fixed Vegetable Oils', 'Flax Fib+Tow+W', 'Fodder & Feeding stuff',
       'Food and Animals', 'Food Excl Fish', 'Fruit and Vegetables',
       'Groundnuts Total Shelled', 'Jute+Bast Fibres',
       'Meat and Meat Preparations', 'Meat Bovine Fresh',
       'Meat Fresh+Ch+Frozen', 'Meat of Swine', 'Meat Poultry Fresh',
       'Meat Prepared Pres', 'Meat Sheep Fresh',
       'Milk Condensed + Evaporated', 'Milk Condensed+Dry+Fresh',
       'Milk Dry', 'Milk Equivalent', 'Milk Fresh', 'Miscellaneous Food',
       'Natural Rubber', 'Offals Edibl Fresh', 'Oilseed Cake Meal',
       'Oilseed Cake nes', 'Oilseeds', 'Olive Oil,Total', 'Onions',
       'Oranges+Tang+Clem', 'Oth Citrus Frt', 'Other Meat', 'Ovine Meat',
       'Pigmeat', 'Poultry Meat', 'Pulses', 'Rape+Mustard Oils',
       'Rape+Mustard Seed', 'Rice', 'Silk', 'Sugar and Honey',
       'Sugar,Total (Raw Equiv.)', 'Textile Fibres', 'Tobacco',
       'Total Meat', 'Wheat+Flour,Wheat Equivalent', 'Whey, Pres+Concen',
       'Wine+Vermouth+Sim.', 'Total Merchandise Trade',
       'Alfalfa meal and pellets', 'Barley, pearled', 'Blueberries',
       'Cake, maize', 'Cake, palm kernel', 'Canary seed', 'Cocoa, paste',
       'Cotton linter', 'Cranberries', 'Currants',
       'Dregs from brewing, distillation', 'Fat, pigs',
       'Feed and meal, gluten', 'Flax fibre raw', 'Flax tow waste',
       'Fruit, tropical fresh nes', 'Germ, maize', 'Gooseberries',
       'Grain, mixed', 'Hops', 'Juice, lemon, concentrated', 'Kola nuts',
       'Meat, horse', 'Offals, liver duck', 'Oil, safflower',
       'Pyrethrum, extraction', 'Quinces', 'Skins, goat, wet salted',
       'Skins, sheep, wet salted', 'Starch, cassava', 'Triticale',
       'Waxes vegetable', 'Cake, sesame seed', 'Feed minerals',
       'Feed supplements', 'Sugar crops, nes', 'Cake, rice bran',
       'Bambara beans', 'Cassava', 'Offals, liver geese',
       'Offals, edible, goats', 'Whey, condensed', 'Hay (unspecified)',
       'Hides, horse, dry salted', 'Manila fibre (abaca)', 'Peppermint',
       'Butter of karite nuts', 'Cheese, sheep milk',
       'Milk, whole fresh sheep', 'Fat, camels', 'Bulgur', 'Fonio',
       'Forage and silage, grasses nes', 'Hay (clover, lucerne,etc)',
       'Bran, millet', 'Feed, pulp of fruit', 'Vetches',
       'Beverages, fermented rice', 'Cake, mustard',
       'Hides, buffalo, dry salted', 'Meat, ass', 'Oil, rice bran',
       'Beer of sorghum', 'Bran, buckwheat', 'Bran, fonio',
       'Cake, hempseed', 'Cake, kapok', 'Cake, safflower', 'Cane tops',
       'Cashewapple', 'Flour, fonio', 'Forage and silage, clover',
       'Forage and silage, legumes', 'Ghee, of buffalo milk',
       'Hair, goat, coarse', 'Hides, buffalo, wet salted',
       'Hides, camel, nes', 'Hides, camel, wet salted',
       'Juice, plum, concentrated', 'Juice, plum, single strength',
       'Kapok fibre', 'Kapokseed in shell', 'Kapokseed shelled',
       'Milk, reconstituted', 'Offals, other camelids', 'Oil, kapok',
       'Oil, poppy', 'Potato offals', 'Soya curd', 'Soya paste',
       'Sugar non-centrifugal', 'Turnips for fodder', 'Vegetable tallow',
       'Vitamins', 'Hides, cattle, fresh', 'Vegetables, dried nes',
       'Skins, sheep, fresh', 'Popcorn', 'Vegetables, canned nes',
       'Hides and skins nes, fresh'], dtype=object)

In [23]:
df_trade_2017 = pd.read_csv('data/FAOSTAT_data_11-17-2019.csv')

In [22]:
df_trade_2017.Item.unique()

array(['Almonds shelled', 'Almonds, with shell',
       'Anise, badian, fennel, coriander', 'Apples', 'Apricots',
       'Apricots, dry', 'Areca nuts', 'Avocados', 'Bacon and ham',
       'Bananas', 'Barley', 'Beans, dry', 'Beer of barley', 'Beeswax',
       'Beverages, distilled alcoholic', 'Beverages, fermented rice',
       'Beverages, non alcoholic', 'Bran, sorghum', 'Bran, wheat',
       'Bread', 'Buckwheat', 'Butter, cow milk',
       'Buttermilk, curdled, acidified milk',
       'Cabbages and other brassicas', 'Cake, copra', 'Cake, cottonseed',
       'Cake, groundnuts', 'Cake, linseed', 'Cake, soybeans',
       'Cake, sunflower', 'Carrots and turnips', 'Cashew nuts, shelled',
       'Cauliflowers and broccoli', 'Cereal preparations nes',
       'Cereals, breakfast', 'Cheese, processed',
       'Cheese, whole cow milk', 'Cherries', 'Cherries, sour',
       'Chick peas', 'Chillies and peppers, dry',
       'Chillies and peppers, green', 'Chocolate products nes',
       'Cider etc', 'Cigarettes', 'Cigars, cheroots',
       'Cinnamon (cannella)', 'Cloves', 'Cocoa, beans',
       'Cocoa, powder & cake', 'Coconuts', 'Coconuts, desiccated',
       'Cocoons, unreelable & waste', 'Coffee, extracts', 'Coffee, green',
       'Coffee, roasted', 'Coffee, substitutes containing coffee',
       'Copra', 'Cotton lint', 'Cotton waste', 'Cotton, carded, combed',
       'Cottonseed', 'Cream fresh', 'Crude materials',
       'Cucumbers and gherkins', 'Dates', 'Eggplants (aubergines)',
       'Eggs, hen, in shell', 'Eggs, liquid',
       'Eggs, other bird, in shell', 'Fat nes, prepared', 'Fat, cattle',
       'Fatty acids', 'Fatty substance residues', 'Feed, compound nes',
       'Feed, vegetable products nes', 'Figs', 'Figs dried',
       'Flour, cereals', 'Flour, maize', 'Flour, mixed grain',
       'Flour, mustard', 'Flour, potatoes', 'Flour, pulses',
       'Flour, rice', 'Flour, wheat', 'Food prep nes',
       'Food preparations, flour, malt extract', 'Food wastes',
       'Forage products', 'Fructose and syrup, other',
       'Fruit, cooked, homogenized preparations', 'Fruit, dried nes',
       'Fruit, fresh nes', 'Fruit, prepared nes', 'Garlic', 'Ginger',
       'Glucose and dextrose', 'Grapefruit (inc. pomelos)', 'Grapes',
       'Groundnuts, prepared', 'Groundnuts, shelled', 'Hair, fine',
       'Hazelnuts, shelled', 'Hazelnuts, with shell',
       'Hides, cattle, wet salted', 'Honey, natural',
       'Ice cream and edible ice', 'Infant food',
       'Juice, apple, concentrated', 'Juice, apple, single strength',
       'Juice, citrus, concentrated', 'Juice, citrus, single strength',
       'Juice, fruit nes', 'Juice, grape',
       'Juice, grapefruit, concentrated', 'Juice, orange, concentrated',
       'Juice, orange, single strength', 'Juice, pineapple, concentrated',
       'Juice, tomato', 'Kiwi fruit', 'Lard',
       'Leeks, other alliaceous vegetables', 'Lemons and limes',
       'Lentils', 'Lettuce and chicory', 'Linseed', 'Macaroni', 'Maize',
       'Malt', 'Mangoes, mangosteens, guavas', 'Margarine, short',
       'Meat, beef and veal sausages', 'Meat, beef, preparations',
       'Meat, cattle', 'Meat, cattle, boneless (beef & veal)',
       'Meat, chicken', 'Meat, chicken, canned', 'Meat, duck',
       'Meat, game', 'Meat, pig', 'Meat, pig sausages',
       'Meat, pig, preparations', 'Meat, pork', 'Meat, rabbit',
       'Meat, sheep', 'Meat, turkey', 'Melons, other (inc.cantaloupes)',
       'Milk, products of natural constituents nes', 'Milk, skimmed cow',
       'Milk, skimmed dried', 'Milk, whole condensed',
       'Milk, whole dried', 'Milk, whole evaporated',
       'Milk, whole fresh cow', 'Millet', 'Mixes and doughs', 'Molasses',
       'Mushrooms, canned', 'Nutmeg, mace and cardamoms', 'Nuts nes',
       'Nuts, prepared (exc. groundnuts)', 'Oats rolled',
       'Offals, edible, cattle', 'Offals, sheep,edible',
       'Oil, boiled etc', 'Oil, coconut (copra)', 'Oil, cottonseed',
       'Oil, essential nes', 'Oil, groundnut', 'Oil, maize',
       'Oil, olive residues', 'Oil, olive, virgin', 'Oil, palm',
       'Oil, palm kernel', 'Oil, rapeseed', 'Oil, sesame', 'Oil, soybean',
       'Oil, sunflower', 'Oil, vegetable origin nes',
       'Oils, fats of animal nes', 'Oilseeds nes', 'Olives preserved',
       'Onions, dry', 'Oranges', 'Pastry', 'Peaches and nectarines',
       'Peanut butter', 'Pears', 'Peas, dry', 'Pepper (piper spp.)',
       'Persimmons', 'Pet food', 'Pineapples', 'Pineapples canned',
       'Pistachios', 'Plums and sloes', 'Plums dried (prunes)',
       'Poppy seed', 'Potatoes', 'Potatoes, frozen', 'Pyrethrum, dried',
       'Quinces', 'Quinoa', 'Raisins', 'Rapeseed',
       'Rice - total  (Rice milled equivalent)', 'Rice, broken',
       'Rice, husked', 'Rice, milled', 'Roots and tubers nes', 'Rye',
       'Sesame seed', 'Silk, raw', 'Silk-worm cocoons, reelable',
       'Skins, sheep, with wool', 'Sorghum', 'Soya sauce', 'Soybeans',
       'Spices nes', 'Spinach', 'Straw husks', 'Strawberries',
       'Sugar confectionery', 'Sugar nes', 'Sugar Raw Centrifugal',
       'Sugar refined', 'Sunflower seed', 'Sweet corn frozen',
       'Sweet corn prep or preserved', 'Tallow',
       'Tangerines, mandarins, clementines, satsumas', 'Tea',
       'Tea, mate extracts', 'Tobacco products nes',
       'Tobacco, unmanufactured', 'Tomatoes', 'Tomatoes, paste',
       'Tomatoes, peeled', 'Vanilla', 'Vegetables in vinegar',
       'Vegetables, dehydrated', 'Vegetables, fresh nes',
       'Vegetables, fresh or dried products nes', 'Vegetables, frozen',
       'Vegetables, homogenized preparations',
       'Vegetables, preserved nes', 'Vegetables, preserved, frozen',
       'Vegetables, temporarily preserved', 'Vermouths & similar',
       'Wafers', 'Walnuts, shelled', 'Walnuts, with shell', 'Watermelons',
       'Waters,ice etc', 'Wheat', 'Whey, dry', 'Wine', 'Wool, degreased',
       'Wool, greasy', 'Wool, hair waste', 'Yoghurt',
       'Yoghurt, concentrated or not', 'Asparagus', 'Beans, green',
       'Beet pulp', 'Blueberries', 'Bran, maize', 'Brazil nuts, shelled',
       'Broad beans, horse beans, dry', 'Canary seed',
       'Cashew nuts, with shell', 'Chestnut', 'Cocoa, butter',
       'Cocoa, paste', 'Coffee, husks and skins', 'Coir', 'Eggs, dried',
       'Fat, liver prepared (foie gras)', 'Fat, pigs',
       'Feed and meal, gluten', 'Fibre crops nes', 'Flax fibre and tow',
       'Flour, cassava', 'Flour, roots and tubers nes', 'Germ, maize',
       'Grease incl. lanolin wool', 'Hides nes', 'Hops',
       'Juice, grapefruit', 'Juice, pineapple', 'Jute', 'Lactose',
       'Maple sugar and syrups', 'Meat nes', 'Meat, dried nes',
       'Mushrooms and truffles', 'Mustard seed', 'Oats',
       'Offals, liver chicken', 'Offals, pigs, edible', 'Oil, citronella',
       'Oil, linseed', 'Olives', 'Onions, shallots, green', 'Papayas',
       'Peas, green', 'Plantains and others',
       'Pumpkins, squash and gourds', 'Rubber natural dry',
       'Rubber, natural', 'Skins, calve, wet salted',
       'Skins, sheep, dry salted', 'Sugar beet', 'Triticale',
       'Whey, condensed', 'Alfalfa meal and pellets', 'Artichokes',
       'Cotton linter', 'Dregs from brewing, distillation',
       'Flax tow waste', 'MatÃ©', 'Meat, goose and guinea fowl',
       'Oil, castor beans', 'Starch, cassava', 'Sweet potatoes',
       'Waxes vegetable', 'Cake, rice bran', 'Barley, pearled',
       'Cassava dried', 'Cranberries', 'Currants', 'Flax fibre raw',
       'Fruit, tropical fresh nes', 'Juice, lemon, concentrated',
       'Juice, lemon, single strength', 'Maize, green',
       'Margarine, liquid', 'Meal, meat', 'Meat, goat',
       'Offals, liver duck', 'Offals, liver geese', 'Grain, mixed',
       'Offals, edible, goats', 'Cake, rapeseed', 'Feed supplements',
       'Meat, horse', 'Oil, safflower', 'Fonio', 'Gooseberries', 'Bulgur',
       'Cake, palm kernel', 'Kola nuts', 'Pyrethrum, extraction',
       'Bambara beans', 'Bran, millet', 'Cheese, sheep milk',
       'Feed, pulp of fruit', 'Hay (unspecified)', 'Cake, mustard',
       'Cake, sesame seed', 'Oil, rice bran', 'Karite nuts (sheanuts)',
       'Peppermint', 'Skins, sheep, wet salted', 'Cake, maize',
       'Manila fibre (abaca)', 'Soya paste', 'Sugar crops nes',
       'Sugar non-centrifugal', 'Potato offals', 'Hair, goat, coarse'],
      dtype=object)

# Data Loading with old datasets

In [7]:
Raw_Dataset = pd.read_csv('data/fao_data_crops_data.csv')

The goal of this notebook is to download the crops data file which contains the Area Harvested in [Ha] for regions or countries as well as the yield [hg/Ha] for different years.
The steps are the following : 
- Load the dataset 
- Clean the dataset (Remove elements that are not countries or regions)
- Create two distinct dataset : one for the regions and one for the countries

In [5]:
# Snapshot of the dataset :
Raw_Dataset

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,Americas +,31,Area Harvested,2007.0,Ha,49404.0,A,agave_fibres_nes
1,Americas +,31,Area Harvested,2006.0,Ha,49404.0,A,agave_fibres_nes
2,Americas +,31,Area Harvested,2005.0,Ha,49404.0,A,agave_fibres_nes
3,Americas +,31,Area Harvested,2004.0,Ha,49113.0,A,agave_fibres_nes
4,Americas +,31,Area Harvested,2003.0,Ha,48559.0,A,agave_fibres_nes
...,...,...,...,...,...,...,...,...
2255344,Fc,Calculated Data,NaN,NaN,NaN,NaN,NaN,yautia_cocoyam
2255345,A,"May include official, semi-official or estimat...",NaN,NaN,NaN,NaN,NaN,yautia_cocoyam
2255346,NR,Not reported by country,NaN,NaN,NaN,NaN,NaN,yautia_cocoyam
2255347,F,FAO Estimate,NaN,NaN,NaN,NaN,NaN,yautia_cocoyam
2255348,*,Unofficial figure,NaN,NaN,NaN,NaN,NaN,yautia_cocoyam

In [6]:
# Snapshot of the missing values, note that the 'value_footnotes' columns is dropped because
# it contains a lot of data 
Trash_Data = Raw_Dataset[Raw_Dataset.drop(['value_footnotes'],axis=1).isnull().values]

# Snapshot of the data containing nan somewhere except from the 'value_footnotes' column :
Trash_Data

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
2397,fnSeqID,Footnote,NaN,NaN,NaN,NaN,NaN,agave_fibres_nes
2397,fnSeqID,Footnote,NaN,NaN,NaN,NaN,NaN,agave_fibres_nes
2397,fnSeqID,Footnote,NaN,NaN,NaN,NaN,NaN,agave_fibres_nes
2397,fnSeqID,Footnote,NaN,NaN,NaN,NaN,NaN,agave_fibres_nes
2398,Fc,Calculated Data,NaN,NaN,NaN,NaN,NaN,agave_fibres_nes
...,...,...,...,...,...,...,...,...
2255347,F,FAO Estimate,NaN,NaN,NaN,NaN,NaN,yautia_cocoyam
2255348,*,Unofficial figure,NaN,NaN,NaN,NaN,NaN,yautia_cocoyam
2255348,*,Unofficial figure,NaN,NaN,NaN,NaN,NaN,yautia_cocoyam
2255348,*,Unofficial figure,NaN,NaN,NaN,NaN,NaN,yautia_cocoyam
2255348,*,Unofficial figure,NaN,NaN,NaN,NaN,NaN,yautia_cocoyam

In [7]:
# By looking at the unique values of 'Trash_Tags' defined below, we notice that none of them contains the name of 
# a country or a region so we can remove them
Trash_Tags = Trash_Data.country_or_area.unique()
print(Trash_Tags)

['fnSeqID' 'Fc' 'A ' 'NR' 'F ' '* ']

In [8]:
Cleaned_Dataset = Raw_Dataset[~Raw_Dataset.country_or_area.isin(Trash_Tags)]
Cleaned_Dataset

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,Americas +,31,Area Harvested,2007.0,Ha,49404.0,A,agave_fibres_nes
1,Americas +,31,Area Harvested,2006.0,Ha,49404.0,A,agave_fibres_nes
2,Americas +,31,Area Harvested,2005.0,Ha,49404.0,A,agave_fibres_nes
3,Americas +,31,Area Harvested,2004.0,Ha,49113.0,A,agave_fibres_nes
4,Americas +,31,Area Harvested,2003.0,Ha,48559.0,A,agave_fibres_nes
...,...,...,...,...,...,...,...,...
2255338,World +,51,Production Quantity,1965.0,tonnes,150123.0,A,yautia_cocoyam
2255339,World +,51,Production Quantity,1964.0,tonnes,143203.0,A,yautia_cocoyam
2255340,World +,51,Production Quantity,1963.0,tonnes,142094.0,A,yautia_cocoyam
2255341,World +,51,Production Quantity,1962.0,tonnes,123840.0,A,yautia_cocoyam
2255342,World +,51,Production Quantity,1961.0,tonnes,117284.0,A,yautia_cocoyam

In [9]:
# Check if there is any nan value remaining in columns other than 'value_footnotes'
Cleaned_Dataset[Cleaned_Dataset.drop(['value_footnotes'],axis=1).isnull().values]

Empty DataFrame
Columns: [country_or_area, element_code, element, year, unit, value, value_footnotes, category]
Index: []

In [32]:
Country_Or_Area = Cleaned_Dataset['country_or_area'].unique()

In [25]:
Dataset_Areas = Cleaned_Dataset[Cleaned_Dataset['country_or_area'].str.find('+') > -1]
Dataset_Areas

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,Americas +,31,Area Harvested,2007.0,Ha,49404.0,A,agave_fibres_nes
1,Americas +,31,Area Harvested,2006.0,Ha,49404.0,A,agave_fibres_nes
2,Americas +,31,Area Harvested,2005.0,Ha,49404.0,A,agave_fibres_nes
3,Americas +,31,Area Harvested,2004.0,Ha,49113.0,A,agave_fibres_nes
4,Americas +,31,Area Harvested,2003.0,Ha,48559.0,A,agave_fibres_nes
...,...,...,...,...,...,...,...,...
2255338,World +,51,Production Quantity,1965.0,tonnes,150123.0,A,yautia_cocoyam
2255339,World +,51,Production Quantity,1964.0,tonnes,143203.0,A,yautia_cocoyam
2255340,World +,51,Production Quantity,1963.0,tonnes,142094.0,A,yautia_cocoyam
2255341,World +,51,Production Quantity,1962.0,tonnes,123840.0,A,yautia_cocoyam
2255342,World +,51,Production Quantity,1961.0,tonnes,117284.0,A,yautia_cocoyam

In [26]:
Dataset_Areas.country_or_area.unique()

array(['Americas +', 'Asia +', 'Caribbean +', 'Central America +',
       'Low Income Food Deficit Countries +',
       'Net Food Importing Developing Countries +',
       'Small Island Developing States +', 'South America +',
       'South-Eastern Asia +', 'World +', 'Africa +',
       'Australia and New Zealand +', 'Central Asia +', 'Eastern Asia +',
       'Eastern Europe +', 'Europe +', 'European Union +',
       'LandLocked developing countries +', 'Least Developed Countries +',
       'Northern Africa +', 'Northern America +', 'Oceania +',
       'Southern Africa +', 'Southern Asia +', 'Southern Europe +',
       'Western Africa +', 'Western Asia +', 'Western Europe +',
       'Eastern Africa +', 'Northern Europe +', 'Middle Africa +',
       'Micronesia +', 'Polynesia +', 'Melanesia +'], dtype=object)

In [31]:
Dataset_Areas['year'].unique()

array([2007., 2006., 2005., 2004., 2003., 2002., 2001., 2000., 1999.,
       1998., 1997., 1996., 1995., 1994., 1993., 1992., 1991., 1990.,
       1989., 1988., 1987., 1986., 1985., 1984., 1983., 1982., 1981.,
       1980., 1979., 1978., 1977., 1976., 1975., 1974., 1973., 1972.,
       1971., 1970., 1969., 1968., 1967., 1966., 1965., 1964., 1963.,
       1962., 1961.])

In [28]:
Dataset_Countries = Cleaned_Dataset[Cleaned_Dataset['country_or_area'].str.find('+') == -1]
Dataset_Countries

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
564,Colombia,31,Area Harvested,2007.0,Ha,17500.0,F,agave_fibres_nes
565,Colombia,31,Area Harvested,2006.0,Ha,17500.0,F,agave_fibres_nes
566,Colombia,31,Area Harvested,2005.0,Ha,17500.0,F,agave_fibres_nes
567,Colombia,31,Area Harvested,2004.0,Ha,17294.0,NaN,agave_fibres_nes
568,Colombia,31,Area Harvested,2003.0,Ha,17094.0,NaN,agave_fibres_nes
...,...,...,...,...,...,...,...,...
2255150,"Venezuela, Bolivarian Republic of",51,Production Quantity,1965.0,tonnes,61062.0,NaN,yautia_cocoyam
2255151,"Venezuela, Bolivarian Republic of",51,Production Quantity,1964.0,tonnes,59225.0,NaN,yautia_cocoyam
2255152,"Venezuela, Bolivarian Republic of",51,Production Quantity,1963.0,tonnes,57500.0,NaN,yautia_cocoyam
2255153,"Venezuela, Bolivarian Republic of",51,Production Quantity,1962.0,tonnes,55825.0,NaN,yautia_cocoyam
2255154,"Venezuela, Bolivarian Republic of",51,Production Quantity,1961.0,tonnes,54199.0,NaN,yautia_cocoyam

In [30]:
Dataset_Countries['year'].unique()

array([2007., 2006., 2005., 2004., 2003., 2002., 2001., 2000., 1999.,
       1998., 1997., 1996., 1995., 1994., 1993., 1992., 1991., 1990.,
       1989., 1988., 1987., 1986., 1985., 1984., 1983., 1982., 1981.,
       1980., 1979., 1978., 1977., 1976., 1975., 1974., 1973., 1972.,
       1971., 1970., 1969., 1968., 1967., 1966., 1965., 1964., 1963.,
       1962., 1961.])